

    <div class="search-section">

        <input class="search-bar" type="text" id="Search" name="Search" placeholder="Search and find!">
        </div>
    
<hr />

<script>
    var searchBar = document.querySelector('.search-bar');

    function expandSearchBar() {
        searchBar.addEventListener('click', function () {
            this.style.width = '30%';
        })
    }
    expandSearchBar();
</script>
