<!--Post files-->
<link rel="stylesheet" type="text/css" href="~/vendorPost/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="~/vendorPost/animate/animate.css">
<link rel="stylesheet" type="text/css" href="~/vendorPost/css-hamburgers/hamburgers.min.css">
<link rel="stylesheet" type="text/css" href="~/vendorPost/select2/select2.min.css">
<link rel="stylesheet" type="text/css" href="~/css/util.css">
<link rel="stylesheet" type="text/css" href="~/css/main.css">

@{
    this.ViewData["Title"] = "Create Post";
}

<div class="contact1">
    <div class="container-contact1">
        <div class="contact1-pic js-tilt" data-tilt>
            <a asp-controller="Home" asp-action="Index">
                <img src="~/img/blog-icon.png" alt="IMG">
            </a>
        </div>

        <form method="post" class="contact1-form validate-form">
            <span class="contact1-form-title">
                Feel free to ask or narrate!
            </span>

            <div class="wrap-input1 validate-input" data-validate="Title is required">
                <input class="input1" type="text" name="MainTitle" placeholder="Main title...">
                <span class="shadow-input1"></span>
            </div>

            <div class="wrap-input1 validate-input" data-validate="Sub title is required">
                <input class="input1" type="text" name="SubTitle" placeholder="Sub title...">
                <span class="shadow-input1"></span>
            </div>

            <div class="wrap-input1 validate-input" data-validate="Add at least one section">
                <a href="#" class="btn btn-link" data-toggle="modal" data-target="#myModal">Add a section</a>
            </div>

            <div class="modal fade" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h3 class="modal-title">Create your section</h3>
                            <a class="close" data-dismiss="modal">&#10006;</a>
                        </div>
                        <div class="modal-body">
                            <form method="post" id="myFormSection">
                                <div class="wrap-input1 validate-input" data-validate="Section's title is required">
                                    <input class="input1" type="text" id="SectionTitle" name="SectionTitle" placeholder="Section's title">
                                    <span class="shadow-input1"></span>
                                </div>

                                <div class="wrap-input1 validate-input" data-validate="Content is required">
                                    <textarea class="input1" id="SectionContent" name="SectionContent" placeholder="Start your content with 'What','Why','How' and etc, if only you are asking a question!...Otherwise we wouldn't recognize it as question."></textarea>
                                    <span class="shadow-input1"></span>
                                </div>
                            </form>

                        </div>
                        <div class="modal-footer">
                            <a data-dismiss="modal" class="btn btn-outline-dark">Cancel</a>
                            <input type="submit" value="Submit" class="btn btn-success" id="btnSubmitSection">

                        </div>
                    </div>
                </div>
            </div>


            <div class="container-contact1-form-btn">
                <button class="contact1-form-btn">
                    <span>
                        Send
                        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                    </span>
                </button>
            </div>
        </form>
    </div>
</div>

<script>
    $('.js-tilt').tilt({
        scale: 1.1
    })

    document.ready(function () {
        $("btnSubmitSection").click(function () {
            var mainTitle = $("MainTitle").text;
            var subTitle = $("SubTitle").text;
            var sectionTitle = $("SectionTitle").text;
            var sectionContent = $("SectionContent").text;

            var section = { "SectionTitle": sectionTitle, "SectionContent": sectionContent }
            var post = { "MainTitle": mainTitle, "SubTitle": subTitle, "Section": section }

            var obj = { "post": post };
            $.ajax({
                type: 'POST',
                traditional: true,
                url: "/PostsController.cs/Create",
                data: JSON.stringify(obj),
                success: function () {
                    $("#myModal").modal("hide")
                }
            })
        })
    })
</script>