<!--Post files-->
<link rel="stylesheet" type="text/css" href="~/vendorPost/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="~/vendorPost/animate/animate.css">
<link rel="stylesheet" type="text/css" href="~/vendorPost/css-hamburgers/hamburgers.min.css">
<link rel="stylesheet" type="text/css" href="~/vendorPost/select2/select2.min.css">
<link rel="stylesheet" type="text/css" href="~/css/util.css">
<link rel="stylesheet" type="text/css" href="~/css/main.css">

@using EveryDayBlog.Web.ViewModels.Posts.InputModels;

@model PostInputModel

@{
    this.ViewData["Title"] = "Create Post";
}
@*TODO MODEL*@
<partial name="~/Views/Shared/Partials/_HeaderDescPartial.cshtml" />

<style>
    #file {
        display: none
    }

    .file_label {
        display: block;
        margin: 20px auto;
        font-size: 20px;
        font-family: Arial;
        width: 250px;
        height: 40px;
        line-height: 30px;
        background-color: #57b846;
        color: #FFF;
        text-align: center;
        padding: 5px;
        border: 1px solid #CCC;
        border-radius: 30px;
        transition: all 0.3s ease-in-out
    }

        .file_label:hover {
            background-color: #343a40;
            color: #ffffff;
        }

    .fa {
        margin-right: 5px
    }




    small {
        display: block;
        text-align: center;
        margin: 2%;
        font-size: 10px;
        font-family: Arial;
    }
</style>

<div class="contact1">
    <div class="container-contact1">
        <div class="contact1-pic js-tilt" data-tilt>
            <a asp-controller="Home" asp-action="Index">
                <img src="~/img/blog-icon.png" alt="IMG">
            </a>
        </div>

        <form method="post" enctype="multipart/form-data" asp-controller="Posts" asp-action="Create" class="contact1-form validate-form">
            <span class="contact1-form-title">
                Feel free to ask or narrate!
            </span>

            <span asp-validation-for="PageHeader.MainTitle" class="text-danger"></span>

            <div class="wrap-input1">
                <input class="input1" type="text" asp-for="PageHeader.MainTitle" placeholder="Main title...">
                <span class="shadow-input1"></span>
            </div>

            <span asp-validation-for="PageHeader.SubTitle" class="text-danger"></span>

            <div class="wrap-input1">
                <input class="input1" asp-for="PageHeader.SubTitle" type="text" placeholder="Sub title...">
                <span class="shadow-input1"></span>
            </div>

            <span asp-validation-for="PageHeader.Image" class="text-danger"></span>

            <input id="file" asp-for="PageHeader.Image" accept="image/*" type="file" onchange="ImgMsg()" />
            <div class="file-field">
                <label id="demo" for="file" class="file_label">
                    <i class="fa fa-upload" aria-hidden="true"></i>
                </label>
                <input id="file" asp-for="PageHeader.Image" type="file" accept="image/*" />

                <small>background image</small>

            </div>

            <hr>

            <span asp-validation-for="Section.SectionTitle" class="text-danger"></span>

            <div class="wrap-input1">
                <input asp-for="Section.SectionTitle" class="input1" type="text" placeholder="Section's title">
                <span class="shadow-input1"></span>
            </div>

            <span asp-validation-for="Section.SectionContent" class="text-danger"></span>


            <div class="wrap-input1">
                <textarea class="input1" asp-for="Section.SectionContent" placeholder="Start your content with 'What','Why','How' and etc, if only you are asking a question!...Otherwise we wouldn't recognize it as question."></textarea>
                <span class="shadow-input1"></span>
            </div>


            <div class="container-contact1-form-btn">
                <button class="contact1-form-btn">
                    <span>
                        Send
                        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                    </span>
                </button>
            </div>
        </form>
    </div>
</div>


<script>
    $('.js-tilt').tilt({
        scale: 1.1
    })

    function ImgMsg(e) {
        document.getElementById("demo").innerHTML = "Added";

    }
</script>