@using EveryDayBlog.Web.ViewModels.Posts.ViewModels;
@using EveryDayBlog.Web.ViewModels.Sections.InputModels;

@model IndexPostViewModel
<link rel="stylesheet" type="text/css" href="~/css/main.css">

<partial name="~/Views/Shared/Partials/_HeaderDescPartial.cshtml" model="Model.PageHeader" />

<article>
    <div class="container">
        <div class="row">
            @foreach (var sectionn in Model.Sections)
            {
                <div class="col-lg-8 col-md-10 mx-auto">
                    <h2 class="section-heading">@sectionn.SectionTitle</h2>
                    <p>@sectionn.SectionContent</p>
                </div>
            }
           
        </div>

    </div>
</article>
<hr>

@if (this.Model.UserEmail == User.Identity.Name)
{
    <div class="container-contact1-form-btn">
        <button type="button" data-toggle="modal" data-target="#add-section" class="contact1-form-btn">
            <span>
                Add other section
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            </span>
        </button>
    </div>

<partial name="~/Views/Shared/Partials/_AddSectionModalPartial.cshtml" model="@Model.SectionInputModel" />
}

