@{
    this.ViewData["Title"] = "Login";
}

<header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Login</h1>
                    <span class="subheading">Be able to narrate your story or post the most popular news </span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="login-form">
    <form action="/examples/actions/confirmation.php" method="post">
        <h2 class="text-center">Login</h2>
        <div class="text-center social-btn">
            <a href="#" class="btn btn-primary btn-block"><i class="fa fa-facebook"></i><span> Sign in with <b>Facebook</b></span></a>
            <a href="#" class="btn btn-info btn-block"><i class="fa fa-twitter"></i><span> Sign in with <b>Twitter</b></span></a>
            <a href="#" class="btn btn-danger btn-block"><i class="fa fa-google"></i><span> Sign in with <b>Google</b></span></a>
        </div>
        <div class="or-seperator"><i>or</i></div>
        
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-user"></i></span>
            </div>
                <input type="text" class="form-control" name="username" placeholder="Username" required="required">
        </div>

        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-lock"></i></span>
            </div>
            <input type="password" class="form-control" name="password" placeholder="Password" required="required">
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-success btn-block login-btn">Login</button>
        </div>
        <div class="clearfix">
            <label class="pull-left checkbox-inline"><input type="checkbox">Remember me</label>
            <a href="#" class="pull-left text-success"><span id="formFooter">Forgot Password?</span></a>
        </div>

    </form>
    <div class="hint-text small">Don't have an account? <a href="#" class="text-success">Register Now!</a></div>
</div>
