@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}
<header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <div>
                        <h2>
                            Thank you for confirming your email.
                        </h2>
                        <span class="subheading"><a asp-controller="Home" asp-action="Index" class="text-white stretched-link">Click here to redirect.</a></span>
                    </div>

                </div>
            </div>
        </div>
    </div>
</header>






