@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";

}
<partial name="~/Views/Shared/Partials/_HeaderDescPartial.cshtml" model="@Model.PageHeader" />

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>
        Please check your email to reset your password.
    </p>
</div>

