@{
    this.ViewData["Title"] = "About";
}
@using EveryDayBlog.Web.ViewModels.PageHeaders.ViewModels;


@*TODO: MODEL*@

@{ var pageHeader = new PageHeaderViewModel { Title = GlobalConstants.About };}
<partial name="~/Views/Shared/Partials/_HeaderDescPartial.cshtml" model="pageHeader"/>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

                

            <p>EveryDayBlog is an world question-and-answer website where questions are asked, answered, and edited by Internet users, either factually, or in the form of opinions.</p>
            <p>The Website was founded in September 2019, and the website will made available to the public for the first time on Novermber ,22. Users can collaborate by editing questions and suggesting edits to answers that have been submitted by other users</p>
        </div>
    </div>
</div>

<hr>

